node_modules
.git
dist
helm
k8s
scripts
docs
nginx
.vscode
.idea
.env
.env.local
.env.*.local
*.log
*.md
.DS_Store
Thumbs.db
.github/
.gitignore
.editorconfig
.prettierignore
*.swp
*.swo
*~
.project
*.sublime-*